*                   { margin: 0; padding: 0; }
body                { font-size: 62.5%; font-family: Georgia, serif;
                        background: url(resources/bg.png) top center repeat-x #2a2a2a; }
a img, img          { border: none; }
#page-wrap          { width: 800px; margin: 0 auto; }
.photo-link         { padding: 5px; margin: 5px; border: 1px solid #999; display: block; width: 100px;
                        float: left; }
.photo-link:hover   { border-color: white; }
a                   { font-size: 24pt; color: #fefefe;}
li                  { border: 1px solid #999; list-style-type:none;float:left;margin: 20px; padding: 5px; vertical-align: middle;text-align: center;}
li img              { border: 1px solid #999; padding: 5px; margin: 5px;}
p                   {text-align:center}
.selected img       { border-color: red; }